/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #f5f5f5;
    line-height: 1.6;
}

/* Estilos do cabeçalho */
header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #f5a623;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #f5a623;
    font-weight: bold;
}

/* Seções */
section {
    margin: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #f5a623;
}

/* Lista de personagens e temporadas */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    background-color: #222;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

footer p {
    color: #f5f5f5;
    font-size: 1em;
}
